@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

body{
    font-family: 'poppins',sans-serif;
    background-color: azure;
}

.box-area{
    width: 960px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}


@media only screen and (max-width:760px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .right-box{
       
        padding: 20px;
        
    }
}